Token=""
ClientId=""
TestRoleId=""           # Role id for development purposes
Debug="false"           # When set to true "TestRoleId" will be added to all slash commands
DBUser="user123"        # Set as wanted
DBPassword="test123"    # ^
Database="db123"        # ^

# Leave as is, once the postgresql container is online this will work
DATABASE_URL="postgresql://${DBUser}:${DBPassword}@localhost:5432/db?schema=public"